{% extends "base.html" %} {% block content %}
<section class="vh-100 mb-8">
    <div class="container h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col">
                <div class="text-center">
                    <br>
                    {%if filter == 'student' %}
                    <h1> Student requests </h1>
                    {%else%}
                    <h1> Faculty requests </h1>
                    {%endif%}
                </div>

                <br>
                <br>
                <br>
                <div class="d-flex justify-content-center">
                    <form method="post"
                        action="{{url_for('admin_display_requests')}}">
                        {{filter_student_requests_form.csrf_token}}
                        {{filter_student_requests_form.filter(value
                            = 'Student')}}
                        {{filter_student_requests_form.student_requests(class="btn
                        btn-success btn-lg")}}
                    </form>
                    <form method="post"
                        action="{{url_for('admin_display_requests')}}">
                        {{filter_faculty_requests_form.csrf_token}}
                        {{filter_faculty_requests_form.filter(value
                            = 'Faculty')}}
                        {{filter_faculty_requests_form.faculty_requests(class="btn
                        btn-success btn-lg")}}
                    </form>
                </div>


                <br>
                <br>

                {% for request in requests %}
                {% if request.get('confirmations') >=
                request.get('required_confirmations') %}
                <div class="card mb-4">
                    <div class="card-text p-4">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <div class="text-center">
                                    <span>something</span>
                                    <br><br>
                                    <span class="fs-4 fw-bold"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="text-center">
                                    <span>Description</span>
                                    <br><br>
                                    <span class="fs-4 fw-bold">{{request.get('description')}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div class="text-center">
                                    <span>Status</span>
                                    <br><br>
                                    <span class="fs-4 fw-bold">{{request.get('status')}}</span>
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-center">
                                <div class="text-center">
                                    <span>No. of Confirmations</span>
                                    <br><br>
                                    <span class="fs-4 fw-bold">{{request.get('confirmations')}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div class="text-center">
                                    <span>Date Created</span>
                                    <br><br>
                                    <span class="fs-4 fw-bold">{{request.get('created_at')}}</span>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex justify-content-center">
                                <div class="text-center">
                                    <div class="container">
                                        <div class="row">
                                            <form method="post"
                                                action="{{url_for('admin_display_requests')}}">
                                                {{initiate_request_form.csrf_token}}
                                                {{initiate_request_form.request_key(value
                                                = request.key)}}
                                                {{initiate_request_form.initiate(class="btn
                                                btn-success")}}
                                            </form>
                                        </div>
                                    </div>
                                    <br>
                                    {%if request.get('status') == 'in
                                    progress'%}
                                    <form method="post"
                                        action="{{url_for('admin_display_requests')}}">
                                        {{hold_request_form.csrf_token}}
                                        {{hold_request_form.request_key(value
                                        = request.get('key'))}}
                                        {{hold_request_form.put_on_hold(class="btn
                                        btn-danger")}}
                                    </form>

                                    {% elif request.get('status') == "on hold"
                                    %}

                                    <form method="post"
                                        action="{{url_for('admin_display_requests')}}">
                                        {{resume_request_form.csrf_token}}
                                        {{resume_request_form.request_key(value
                                        = request.get('key'))}}
                                        {{resume_request_form.resume(class="btn
                                        btn-danger")}}
                                    </form>
                                    {%endif%}
                                    <br>
                                    <form method="post"
                                        action="{{url_for('admin_display_requests')}}">
                                        {{finish_request_form.csrf_token}}
                                        {{finish_request_form.request_key(value
                                        = request.get('key'))}}
                                        {{finish_request_form.finish(class="btn
                                        btn-danger")}}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
                {% endfor %}
            </div>
        </div>
    </section>
    {%endblock content%}