{% extends "base.html" %}
{% block content %}

<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1>Welcome to the Admin Dashboard</h1>
        <br><br>
<!-- Add a container with a flexbox layout -->
<div style="display: flex; justify-content: space-around; align-items: center;">

    <!-- First Button (wrapped in an anchor tag) -->
    <a href="{{ url_for('user_registration_requests') }}" style="text-decoration: none;">
        <button type="button" class="btn btn-success btn-lg">User Registration Requests</button>
    </a>

    <!-- Second Button (inside a form) -->
    <form method="post" action="{{ url_for('admin_display_requests', type = 'student') }}" style="margin: 0;">
        {{ filter_student_requests_form.csrf_token }}
        {{filter_student_requests_form.student_requests(class = "btn btn-warning btn-lg")}}
    </form>

    <!-- Third Button (inside another form) -->
    <form method="post" action="{{ url_for('admin_display_requests', type = 'faculty') }}" style="margin: 0;">
        {{ filter_faculty_requests_form.csrf_token }}
        {{filter_faculty_requests_form.faculty_requests(class = "btn btn-danger btn-lg")}}
        
    </form>

</div>

    </div>
</div>
{% endblock content %}