{% extends "base.html" %} {% block content %}
<section class="vh-100 mb-8">
    <div class="container h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col">
                <div class="text-center">
                    <br>
                    
                    {%if filter == 'Student' %}
                    <h1> {{status.title()}} Student requests </h1>
                    {%else%}
                    <h1> {{status.title()}} Faculty requests </h1>
                    {%endif%}
                </div>

                <br>
                <br>
                <br>

                {%if status == 'in progress' or status == 'implemented' or status == 'dropped' or status == 'on hold' or status == 'not started'%}


                {% for request in requests %}
                {% if request.get('confirmations') >=
                request.get('required_confirmations') %}

                {% if request.get('status') == status %}

                {%if request.get('status') == 'implemented' or request.get('status') == 'dropped'%}
                <div class="card mb-4 disabled">
                    {%else%}
                    <div class="card mb-4">
                        {%endif%}
                        <div class="card-text p-4">
                            <div class="row align-items-center">
                                <div class="col-md-2 d-flex
                                    justify-content-center">
                                    <div class="text-center">
                                        <span class="fw-bold">Request ID</span>
                                        <br><br>
                                        <span class="small">{{request.get('key')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex
                                    justify-content-center">
                                    <div class="text-center">
                                        <span class="fw-bold">Description</span>
                                        <br><br>
                                        <span class="small">{{request.get('description')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex
                                    justify-content-center">
                                    <div class="text-center">
                                        <span class="fw-bold">Status</span>
                                        <br><br>
                                        <span class="small">{{request.get('status')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex
                                    justify-content-center">
                                    <div class="text-center">
                                        <span class="fw-bold">No. of Confirmations</span>
                                        <br><br>
                                        <span class="small">{{request.get('confirmations')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex
                                    justify-content-center">
                                    <div class="text-center">
                                        <span class="fw-bold">Date Created</span>
                                        <br><br>
                                        <span class="small">{{request.get('created_at')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex
                                    justify-content-center">
                                    <div class="text-center">
                                        <div class="container">
                                            <div class="row">

                                                <form method="post"
                                                    action="{{url_for('admin_display_requests')}}">
                                                    {{initiate_request_form.csrf_token}}
                                                    {{initiate_request_form.request_key(value
                                                    = request.key)}}
                                                    {{initiate_request_form.type(value
                                                        = request.get('user_type'))}}
                                                    {%if request.get('status')== 'not started'%}
                                                    {{initiate_request_form.initiate(class="btn
                                                    btn-success")}}
                                                    {%else%}
                                                    {{initiate_request_form.initiate(class="btn
                                                    btn-success disabled")}}
                                                    {%endif%}
                                                </form>

                                            </div>
                                        </div>
                                        <br>
                                        <form method="post"
                                            action="{{url_for('admin_display_requests')}}">
                                            {{hold_request_form.csrf_token}}
                                            {{hold_request_form.request_key(value
                                            = request.get('key'))}}
                                            {{hold_request_form.type(value
                                                = request.get('user_type'))}}
                                            {%if request.get('status') == 'in progress'%}
                                            {{hold_request_form.put_on_hold(class="btn
                                            btn-warning")}}
                                            {%else%}
                                            {{hold_request_form.put_on_hold(class="btn
                                            btn-warning disabled")}}
                                            {%endif%}
                                        </form>
                                        <br>
                                        <form method="post"
                                            action="{{url_for('admin_display_requests')}}">
                                            {{resume_request_form.csrf_token}}
                                            {{resume_request_form.request_key(value
                                            = request.get('key'))}}
                                            {{resume_request_form.type(value
                                                = request.get('user_type'))}}
                                            {%if request.get('status') == 'on hold'%}
                                            {{resume_request_form.resume(class="btn
                                            btn-warning")}}
                                            {%else%}
                                            {{resume_request_form.resume(class="btn
                                            btn-warning disabled")}}
                                            {%endif%}
                                        </form>
                                        <br>
                                        <form method="post"
                                            action="{{url_for('admin_display_requests')}}">
                                            {{finish_request_form.csrf_token}}
                                            {{finish_request_form.request_key(value
                                            = request.get('key'))}}
                                            {{finish_request_form.type(value
                                                = request.get('user_type'))}}
                                            {%if request.get('status') == "in progress"%}
                                            {{finish_request_form.finish(class="btn
                                            btn-danger")}}
                                            {%else%}
                                            {{finish_request_form.finish(class="btn
                                            btn-danger disabled")}}
                                            {%endif%}
                                        </form>

                                        <br>
                                        <form method="post"
                                            action="{{url_for('admin_display_requests')}}">
                                            {{drop_request_form.csrf_token}}
                                            {{drop_request_form.request_key(value
                                            = request.get('key'))}}
                                            {{drop_request_form.type(value
                                                = request.get('user_type'))}}
                                            {%if request.get('status') == "dropped"%}
                                            {{drop_request_form.drop(class="btn
                                            btn-danger disabled")}}
                                            {%else%}
                                            {{drop_request_form.drop(class="btn
                                            btn-danger")}}
                                            {%endif%}
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {%endif%}
                    {%endif%}
                    {% endfor %}




                    {%else%}
                    {% for request in requests %}
                    {% if request.get('confirmations') >=
                    request.get('required_confirmations') %}
                    {%if request.get('status') == 'implemented' or request.get('status') == 'dropped'%}
                    <div class="card mb-4 disabled">
                        {%else%}
                        <div class="card mb-4">
                            {%endif%}
                            <div class="card-text p-4">
                                <div class="row align-items-center">
                                    <div class="col-md-2 d-flex
                                        justify-content-center">
                                        <div class="text-center">
                                            <span class="fw-bold">Request ID</span>
                                            <br><br>
                                            <span class="small">{{request.get('key')}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex
                                        justify-content-center">
                                        <div class="text-center">
                                            <span class="fw-bold">Description</span>
                                            <br><br>
                                            <span class="small">{{request.get('description')}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex
                                        justify-content-center">
                                        <div class="text-center">
                                            <span class="fw-bold">Status</span>
                                            <br><br>
                                            <span class="small">{{request.get('status')}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex
                                        justify-content-center">
                                        <div class="text-center">
                                            <span class="fw-bold">No. of Confirmations</span>
                                            <br><br>
                                            <span class="small">{{request.get('confirmations')}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex
                                        justify-content-center">
                                        <div class="text-center">
                                            <span class="fw-bold">Date Created</span>
                                            <br><br>
                                            <span class="small">{{request.get('created_at')}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex
                                        justify-content-center">
                                        <div class="text-center">
                                            <div class="container">
                                                <div class="row">

                                                    <form method="post"
                                                        action="{{url_for('admin_display_requests')}}">
                                                        {{initiate_request_form.csrf_token}}
                                                        {{initiate_request_form.request_key(value
                                                        = request.key)}}
                                                        {{initiate_request_form.type(value
                                                            = request.type)}}
                                                        {%if request.get('status') =='not started'%}
                                                        {{initiate_request_form.initiate(class="btn
                                                        btn-success")}}
                                                        {%else%}
                                                        {{initiate_request_form.initiate(class="btn
                                                        btn-success disabled")}}
                                                        {%endif%}
                                                    </form>

                                                </div>
                                            </div>
                                            <br>
                                            <form method="post"
                                                action="{{url_for('admin_display_requests')}}">
                                                {{hold_request_form.csrf_token}}
                                                {{hold_request_form.request_key(value
                                                = request.get('key'))}}
                                                {{hold_request_form.type(value
                                                    = request.get('user_type'))}}
                                                {%if request.get('status') == 'in progress'%}
                                                {{hold_request_form.put_on_hold(class="btn
                                                btn-warning")}}
                                                {%else%}
                                                {{hold_request_form.put_on_hold(class="btn
                                                btn-warning disabled")}}
                                                {%endif%}
                                            </form>
                                            <br>
                                            <form method="post"
                                                action="{{url_for('admin_display_requests')}}">
                                                {{resume_request_form.csrf_token}}
                                                {{resume_request_form.request_key(value
                                                = request.get('key'))}}
                                                {{resume_request_form.type(value
                                                    = request.get('user_type'))}}
                                                {%if request.get('status') == 'on hold'%}
                                                {{resume_request_form.resume(class="btn
                                                btn-warning")}}
                                                {%else%}
                                                {{resume_request_form.resume(class="btn
                                                btn-warning disabled")}}
                                                {%endif%}

                                            </form>
                                            <br>

                                            <form method="post"
                                                action="{{url_for('admin_display_requests')}}">
                                                {{finish_request_form.csrf_token}}
                                                {{finish_request_form.request_key(value
                                                = request.get('key'))}}
                                                {{finish_request_form.type(value
                                                    = request.get('user_type'))}}
                                                {%if request.get('status') == "in progress"%}
                                                {{finish_request_form.finish(class="btn btn-danger")}}
                                                {%else%}
                                                {{finish_request_form.finish(class="btn
                                                btn-danger disabled")}}
                                                {%endif%}
                                            </form>


                                            <br>
                                            <form method="post"
                                                action="{{url_for('admin_display_requests')}}">
                                                {{drop_request_form.csrf_token}}
                                                {{drop_request_form.request_key(value
                                                = request.get('key'))}}
                                                {{drop_request_form.type(value
                                                    = request.get('user_type'))}}
                                                {%if request.get('status') == "dropped"%}
                                                {{drop_request_form.drop(class="btn
                                                btn-danger disabled")}}
                                                {%else%}
                                                {{drop_request_form.drop(class="btn
                                                btn-danger")}}
                                                {%endif%}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {% endfor %}
                        {%endif%}
                    </div>
                </div>
            </section>
            {%endblock content%}
