{% extends "base.html" %} {% block content %}
<section class="vh-100 mb-8">
  <div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col">
        <div class="text-center">
          <br>
          <h1>Shopping Cart </h1>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
          <a href="{{ url_for('products') }}">
            <button type="button" class="btn btn-dark btn-lg me-2">Continue shopping</button>
          </a>
          {% if session['cart']|length != 0 %}
          <form method="post" action="{{url_for('checkout')}}">
            {{checkout_form.csrf_token}}
            {{checkout_form.checkout(class="btn btn-success btn-lg")}}
          </form>
          {% endif %}
        </div>
        <br>
        {%if session['cart']|length > 0 %}
        <div class="justify-content-end">
          <h4>Total Items: {{session['cart']|length}}</h4>
          <h4>Order Total: Rs. {{session['total']}}</h4>
        </div>
        <br>
        {%else%}
        <br><br><br>
        <div class="d-flex justify-content-center">
          <h3>Your cart is empty!</h3>
        </div>
        {%endif%}

        {% for id, product in session['cart'].items() %}
        <div class="card mb-4">
          <div class="card-text p-4">
            <div class="row align-items-center">
              <div class="col-md-2">
                <img src="static/images/{{product['image']}}" class="img-fluid img-thumbnail">
              </div>
              <div class="col-md-2">
                <div class="text-center">
                  <span>Name</span>
                  <br><br>
                  <span class="fs-4 fw-bold">{{product['name']}}</span>
                  <br>
                  <span class="lead fs-6">{{product['unit']}}</span>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div class="text-center">
                  <span>Quantity</span>
                  <br><br>
                  <span class="fs-4 fw-bold">{{product['quantity']}}</span>
                </div>
              </div>
              <div class="col-2 d-flex justify-content-center">
                <div class="text-center">
                  <span>Price</span>
                  <br><br>
                  <span class="fs-4 fw-bold">Rs. {{product['price']}}</span>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div class="text-center">
                  <span>Total</span>
                  <br><br>
                  <span class="fs-4 fw-bold">Rs. {{ product['quantity'] * product['price'] }}</span>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div class="text-center">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <form method="post" action="{{url_for('update_cart')}}">
                          {{add_one_form.csrf_token}}
                          {{add_one_form.id(value = id)}}
                          {{add_one_form.add(class="btn btn-success")}}
                        </form>
                      </div>
                      <div class="col-md-6">
                        <form method="post" action="{{url_for('update_cart')}}">
                          {{remove_one_form.csrf_token}}
                          {{remove_one_form.id(value = id)}}
                          {{remove_one_form.remove(class="btn btn-danger")}}
                        </form>
                      </div>
                    </div>
                  </div>
                  <br>
                  <form method="post" action="{{url_for('update_cart')}}">
                    {{remove_all_form.csrf_token}}
                    {{remove_all_form.id(value = id)}}
                    {{remove_all_form.remove_all(class="btn btn-danger")}}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
{%endblock content%}