{% extends "base.html" %} {% block content %}


<div class="d-flex justify-content-center">
  <form method=post>
    {{ form.csrf_token }}
    <fieldset class="border p-4">
      <legend class="text-center">Login</legend>
      <div class="form-group mb-4">
        {{ form.email_id.label(class="form-control-label") }} {% if
        form.email_id.errors %} {{ form.email_id(class="form-control
        is-invalid") }}
        <div class="invalid-feedback">
          <ul>
            {% for error in form.email_id.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </ul>
        </div>
        {% else %} {{ form.email_id(class="form-control") }} {% endif %}
      </div>
      <div class="form-group mb-4">
        {{ form.password.label(class="form-control-label") }} {% if
        form.password.errors %} {{ form.password(class="form-control
        is-invalid") }}
        <div class="invalid-feedback">
          <ul>
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </ul>
        </div>
        {% else %} {{ form.password(class="form-control") }} {% endif %}
      </div>

      <div class="form-group mt-4 text-center">
        {{ form.submit(class="btn btn-outline-primary") }}
      </div>
    </fieldset>
  </form>
</div>
<div class="text-center form-group">
  Don't have an account? <a href="{{url_for('register')}}">Register!</a>
</div>

{% endblock content %}
