{% extends "base.html" %}
{% block content %}

<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <br><br>
        <a href="{{ url_for('register') }}">
            <button type="button" class="btn btn-success btn-lg" style="padding: 20px 40px; font-size: 24px;">Register</button>
        </a>
        <a href="{{ url_for('login') }}">
            <button type="button" class="btn btn-danger btn-lg" style="padding: 20px 40px; font-size: 24px;">Login</button>
        </a>
    </div>
</div>
{% endblock content %}