[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
watchdog = "*"
flask-login = "*"
wtforms = "*"
flask-wtf = "*"

[dev-packages]
pylint-flask = "*"

[requires]
python_version = "3.12"
